:root {
  --Red: hsl(14, 86%, 42%);
  --Green: hsl(159, 69%, 38%);
  --Rose-50: hsl(20, 50%, 98%);
  --Rose-100: hsl(13, 31%, 94%);
  --Rose-300: hsl(14, 25%, 72%);
  --Rose-400: hsl(7, 20%, 60%);
  --Rose-500: hsl(12, 20%, 44%);
  --Rose-900: hsl(14, 65%, 9%);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Red Hat Text", sans-serif;
  background-color: var(--Rose-100);
  padding: 40px 80px;
  position: relative;
}
@media (max-width: 768px) {
  body {
    padding: 20px;
  }
}
main {
  display: flex;
  gap: 20px;
  margin: 0 auto;
  max-width: 1440px;
  max-width: 100%;
}
@media (max-width: 1024px) {
  main {
    flex-direction: column;
  }
}
.box-product h1 {
  margin-bottom: 20px;
}
.box-product {
  flex: 2;
}
.box-card {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 20px;
}

.box-card .img-card img {
  border-radius: 10px;
  max-width: 100%;
}
.img-card {
  position: relative;
}
.btn-add {
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  position: absolute;
  z-index: 1;
  bottom: -65%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  border: 1px solid var(--Rose-500);
  padding: 10px 30px;
  background-color: white;
  border-radius: 50px;
  cursor: pointer;
}

.box-card .info {
  margin-top: 25px;
}

.box-card .type {
  color: var(--Rose-400);
}
.box-card .name {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 500;
}
.box-card .price {
  margin-top: 10px;
  font-weight: 500;
  color: var(--Red);
}

.product-basket {
  flex: 1;
  background: white;
  padding: 20px 20px 30px;
  height: fit-content;
  border-radius: 10px;
}

.product-basket h3 {
  color: var(--Red);
  margin-bottom: 20px;
}
.product-basket img {
  display: block;
  width: 130px;
  margin: 20px auto;
}

.product-basket .descr-basket {
  margin: 0 auto;
  text-align: center;
  color: var(--Rose-500);
  font-weight: 500;
}
.product-basket .product {
  border-bottom: 1px solid var(--Rose-100);
  padding: 10px 0;
}
.product h4.titel-Product {
  margin-bottom: 5px;
}
.product .quantity {
  margin-right: 15px;
  font-weight: bold;
  color: var(--Red);
}
.product .price-Product {
  margin-right: 7px;
  color: var(--Rose-300);
  font-weight: 300;
  font-size: 14px;
}
.product span.total-Price {
  color: var(--Rose-400);
  font-weight: 500;
}
.total-price {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.total-price .info-total {
  color: var(--Rose-500);
}
.total-price .total {
  font-size: 24px;
  font-weight: bold;
}
.note-of-order {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  background-color: var(--Rose-100);
  border-radius: 10px;
  margin-top: 25px;
  padding: 5px;
}
.note-of-order img {
  width: 20px;
  margin-right: -80px;
}

.note-of-order p.text-note {
  font-size: 14px;
  margin: 0 auto;
}
}
@media (max-width:1024px) {
  .note-of-order p.text-note {
    font-size: 12px;
  }
  .note-of-order img {
    margin-right: -30%;
  }
}

@media (max-width:768px){
.note-of-order img {
  margin-right: -10%;
}}

.note-of-order p span {
  font-weight: bold;
  color: black;
}
.btn-confirma {
  display: block;
  padding: 10px 20px;
  width: 100%;
  border-radius: 50px;
  background-color: var(--Red);
  margin-top: 25px;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
.btn-confirma:hover {
  opacity: 0.9;
}
/* ************* */
.control {
  width: 180px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  position: absolute;
  z-index: 1;
  bottom: -65%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;

  padding: 10px 30px;
  background-color: var(--Red);
  border-radius: 50px;
}
.control .minus,
.control .plus {
  border: none;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid white;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 20px;
  color: white;
}
.control .minus:hover,
.control .plus:hover {
  background-color: white;
  color: var(--Red);
}
.plus img {
  position: relative;
}

/* ********* */
.none {
  display: none;
}
/* ********** */

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.338);
  z-index: 5000;
  cursor: not-allowed;
}
.box-order-Confirem {
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 99990;
  inset: 0;
}

.order-Confirem {
  margin-top: 100px;
  width: 400px;
  height: fit-content;
  background-color: white;
  padding: 25px;
  border-radius: 10px;
}
@media (max-width: 768px) {
  .order-Confirem {
    margin-top: 75px;
    width: 100%;
  }
}
.check-mark {
  width: 30px;
}
.order-Confirem h2 {
}
.order-Confirem .marketing-text {
  font-size: 12px;
  margin: 0;
  margin-bottom: 20px;
  color: var(--Rose-400);
}
.product-Order {
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--Rose-50);
  border-bottom: 1px solid var(--Rose-100);
}

.inof-product-order {
  flex: 1;
}

.img-of-product {
  width: 50px;
  margin-right: 10px;
  border-radius: 5px;
}
.name-of-product-order {
  font-size: 12px;
  font-weight: bold;
}

.quantity-product-order {
  margin-right: 10px;
  font-size: 12px;
  color: var(--Red);
  font-weight: bold;
}
.price-product-order {
  font-size: 12px;
  color: var(--Rose-400);
}
.total-price-product-order {
  font-weight: bold;
}

.order-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--Rose-50);
  border-bottom: 1px solid var(--Rose-100);
  padding: 20px 10px;
}
.order-total span {
  color: var(--Rose-400);
  font-size: 14px;
}
.order-total .total {
  font-weight: bold;
  font-size: 20px;
  color: black;
}
.new-order-btn {
  display: block;
  padding: 10px 20px;
  width: 100%;
  border-radius: 50px;
  background-color: var(--Red);
  margin-top: 25px;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
.new-order-btn:hover {
  opacity: 0.9;
}
